.contact-form {
  width: 50%;
  display: grid;
  margin: 0 auto;
  grid-row-gap: 15px;
  font-weight: 600;
  padding-bottom: 25px;
}

.contact-form label {
  font-size: 32px;
}

.user-name, .user-email {
  display: block;
  height: 50px;
  border: none;
  font-size: 20px;
  padding: 0 20px;
}

.user-message {
  height: 150px;
  padding: 10px 20px;
  font-size: 20px;
}

.user-submit {
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.api-notification {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

@media screen and (max-width: 476px) {
  .contact-form {
    width: 100%;
    padding: 0 20px;
  }
  .api-notification {
    font-size: 20px;
  }
}