.contacts {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: monospace;
}

.contacts_title {
  font-size: 45px;
  text-align: center;
}

.contacts_content {
  text-align: center;
  padding: 50px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.phone-wrapper,
.email-wrapper,
.messengers-wrapper {
  display: flex;
  flex-direction: column;
}

.contacts_info-title {
  font-size: 32px;
  font-weight: 600;
}

.contacts_info {
  font-size: 24px;
}

.contacts_content a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.contacts-icon {
  width: 70px;
  margin: 0 10px;
}

/* media-queries */

@media screen and (max-width: 1026px) {
  .contacts_content {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
}

@media screen and (max-width: 769px) {
  .contacts_content {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }

  .contacts_title {
    font-size: 30px;
  }

  .contacts_info-title {
    font-size: 26px;
  }
}

@media screen and (max-width: 476px) {
  .contacts_title {
    font-size: 26px;
  }

  .contacts_info-title {
    font-size: 24px;
  }

  .contacts-icon {
    width: 40px;
    margin: 0 10px;
  }
}
