* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.A-Team {
  height: 100vh;
}
.content {
  width: 100%;
  height: 100%;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.error-page h1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-right: 2px solid black;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.name {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 45px;
  font-family: monospace;
  color: white;
  background: black;
  padding: 0 10px;
}

h2,
h1 {
  margin: 20px 30px;
}

.middle-section {
  width: 100%;
  height: 50vh;
  text-align: center;
  font-family: monospace;
  margin-top: 80px;
  font-size: 27px;
}

.hero-section {
  overflow: hidden;
  height: 40vh;
}

.hero-logo {
  width: 100%;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
.line-1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-right: 2px solid black;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(45) 1s 1 normal both,
    blinkTextCursor 500ms steps(45) infinite normal;
  animation-delay: 6s;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24.6em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

/* media-queries */

@media screen and (max-width: 769px) {
  h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 501px) {
  .line-1 {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .name {
    font-size: 30px;
  }

  .line-1 {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 376px) {
  .line-1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 321px) {
  h2 {
    font-size: 20px;
  }
}
