* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0;
}

.A-Team {
  height: 100vh;
}

.welcome-section {
  height: 100vh;
  margin: 0 0 400px;
  position: relative;
}

.bottom_arrow {
  width: 50px;
}

.content {
  width: 100%;
  height: 100%;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 15px;
  font-family: monospace;
}

.error-page_title {
  width: 100%;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
}

.error-page_text {
  width: 80%;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
}

.error-page_button {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

.name {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 45px;
  font-family: monospace;
  color: white;
  background: black;
  padding: 0 10px;
}

h2,
h1 {
  margin: 20px 30px;
  font-family: monospace;
}

h1 {
  font-size: 3.5vw;
}

section {
  padding: 1px 0 0;
}

.middle-section {
  width: 100%;
  height: 60vh;
  text-align: center;
  font-family: monospace;
  margin-top: 20px;
  padding: 1px 0 0;
  font-size: 27px;
}

.hero-section {
  overflow: hidden;
  height: 40vh;
}

.hero-logo {
  width: 100%;
}

.home-subtitle {
  font-weight: normal;
  font-size: 35px;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
.line-1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-right: 2px solid black;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(45) 1s 1 normal both,
    blinkTextCursor 500ms steps(45) infinite normal;
  animation-delay: 6s;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24.6em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

.animation-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: calc(50% - 25px);
  animation: arrow 1s ease 10s infinite alternate none;
}

@keyframes arrow {
  0% {
    bottom: 20px;
  }
  25% {
    bottom: 30px;
  }
  50% {
    bottom: 20px;
  }
  75% {
    bottom: 30px;
  }
  100% {
    bottom: 20px;
  }
}

/* media-queries */

@media screen and (max-width: 1025px) {
  .welcome-section {
    margin: 0;
  }
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 40px;
  }

  .home-subtitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 621px) {
  .bottom_arrow {
    width: 30px;
  }

  .animation-arrow {
    width: 30px;
    height: 30px;
    bottom: 20px;
    left: calc(50% - 15px);
  }
}

@media screen and (max-width: 501px) {
  .line-1 {
    font-size: 16px;
  }

  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 30px;
  }

  .home-subtitle {
    font-size: 5vw;
  }
}

@media screen and (max-width: 425px) {
  .name {
    font-size: 30px;
  }

  .line-1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 376px) {
  .line-1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 321px) {
  h2 {
    font-size: 20px;
  }
}
